1.** What are data structures, and why are they important ?**

Ans:Data structures is a way to organising and storing data so that it can be accessed and manipulate efficiently.

 Importance of data structure:

  a.Data structures provide better efficiency,reusability,idea and more control over how data is stored and accessed.

 b.Data structures are convenient techniques for collecting and structuring data that can be easily and efficiently
   processed by computers.

**2.Explain the difference between mutable and immutable data types with examples.**

Ans:**Mutable data types**: In mutable data types objects are changed after their creation.


 Eamples:-Lists,sets,dicitonary.


**Immutable data types**:In immutale data types objects are not changed after their creation.

Examples:- Strings,tuples,boolean.

**3. What are the main differences between lists and tuples in Python?**


Ans:The main difference between lists and tuples is that tuples are immutable, i.e. objects cannot be changed after creation, while lists are mutable and can be modified. Additionally, tuples are more memory-efficient compared to lists. Tuples can't be changed after they are created, but lists can be modified.

4**.Describe how dictionaries store data**.

Ans:In Python dictionary is a data  structure that stores the values in key:value pairs.It stores a specific value for each key.Dicitionaries are enclosed in curly {} braces.Values in dictionary are of any data type and can be duplicated whearas keys cannnot be repeated.Dictionaries are immutable.

**5.Why might you use a set instead of a list in Python?**-f

Ans:We use set instead of list in Python because set cannot have dupilcate entries i.e. once created objects of set are not changed.Also sets are used to remove duplicate values from lists by performing mathematical operations.-f

e.g.
a=[1,,2,2,3,3]


a=list(set(a))

print(a)

---

**6. What is a string in Python, and how is it different from a list?**-f

Ans:String:A string is sequence of characters enclosed in single or doubles quotes and strings are immutable whereas,lists are ordered collection of items enclosed in square brackets[] and lists are mutable i.e. objects are changed after their creation. In lists values are can be assigned at specific index but strings elements are not assinged at specific index.

 **7.How do tuples ensure data integrity in Python?**

 Ans:Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8**. What is a hash table, and how does it relate to dictionaries in Python?**
-f

Ans:Hash tables are typee of data structure in which index value of data element is generated from hash function.In other words hash tables stores key-values pairs but the key is generated by a hashing function.In Python Dictionary represents the implementation of hash tables.The order of data elements in a dicitionary is not fixed.

 **9.Can lists contain different data types in Python ?**
 -f

 Ans:Yes, lists contain different data types.

 e.g.


list=['shweta',786,'harman',70.1]

print(list)

 10.**Explain why strings are immutable in Python ?**-f

 Ans:Strings in Python are immutable because their contents cannot be changed after they are created. This immutability is a fundamental design choice, and it provides several key benefits for performance, safety, and efficiency.

 **11.What advantages do dictionaries offer over lists for certain tasks ?**

 Ans:

1.   Dicitionariers offer fast data retrival by using key-values pairs.But in list data is traverse through each element.
2. Lists allows duplicate values,but dcitionaries cannot allow duplicate values.

 **12.Describe a scenario where using a tuple would be preferable over a list ?**-f

 Ans:When the data is fixed and should not be modified.-f


When you need better performance for iteration or access.-f


When you need to use the data as a key in a dictionary or add it to a set.-f


When you want to semantically indicate that the data represents a fixed collection of values.-f


When working in a multi-threaded environment where shared data should remain constant.

**13.How do sets handle duplicate values in Python ?**-f

Ans:Python sets cannot have duplicate values. If their ia dulplicate values in set it recognised its once.

For Example;-


set={'shweta',2,2,5,78,78}


print(set)

 **14.How does the “in” keyword work differently for lists and dictionaries ?**
 -f

 Ans:The in operator in Python checks if a specified value exists within a sequence, such as a list, tuple, or string. In Python, the in keyword also helps iterate over sequences in for loops.
 -f

 But In opertaor in dicitonary tells you whether somethng appears or not as a key in the dicitionary.It returns two values either True or False.

**15.Can you modify the elements of a tuple? Explain why or why not?**-f

Ans:In Python,tuples are immutable i.e. objects cannot changed after creation.So,tuples cannot be modified.

**16. What is a nested dictionary, and give an example of its use case ?**-f

Ans:Nested dicitionary is a dicitionary insisde a dicitionary.It is a collection of dicitionaries into one single dicitionary.-f

Nested dict={'dict1': {'key_A': 'value_A'},'dict2': {'key_B': 'value_B'}}-f

Use cases:-f



*  In contact list where  name is a key and he value is another dictionary with details like phone number and email address.
* Save the information of a student in key value form by using dicitionary.

 **17.Describe the time complexity of accessing elements in a dictionary ?**
 -f

 Ans:Accessing elements in a dictionary typically has an average time complexity of O(1), meaning it takes constant time, regardless of the dictionary's size.

**18. In what situations are lists preferred over dictionaries ?**-f

Ans:Following situations in which lists are preferred over dicitionaries:

When order of elements matters because list maintain order of elements in which

they are added.



 When accessing the elements by index is required.

 When the data structure is not key-value based.
.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval ?**-f

Ans:Dictionaries are unordered because they do not maintain a specific order of elements based on insertion, and this lack of order affects data retrieval by making it impossible to access elements by their index.

 **20.Explain the difference between a list and a dictionary in terms of data retrieval.**-f

 Ans:1.lists are organised by index while dicitionary are organised by key-value pairs.-f


 2.In lists data is retrieved by index while in dicitionary data is retrieved by keys.

**PRACTICAL  QUESTIONS**

**1.Write a code to create a string with your name and print it**

In [ ]:
str="shweta"
print(str)

shweta

 **2.Write a code to find the length of the string "Hello World"**

In [ ]:
str="hello world"
print(len(str))

11

.**3.Write a code to slice the first 3 characters from the string "Python Programming"**

In [ ]:
str="Python Programming"
print(str[:3])

Pyt

**4. Write a code to convert the string "hello" to uppercase.**

In [ ]:
str="hello"
print(str.upper())

HELLO

 **5.Write a code to replace the word "apple" with "orange" in the string "I like apple**"

In [ ]:
str="I like apple"
new_str=str.replace("apple","orange")
print(new_str)

I like orange

** 6.Write a code to create a list with numbers 1 to 5 and print it**

In [ ]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

**7. Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

** 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

 **9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [ ]:
list=['a', 'b', 'c', 'd']
print(list[2])

c

**10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
list=[10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

 **12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
tuple_colours= ('red', 'green', 'blue', 'yellow')
print(tuple_colours[-2])

blue

  **13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)**

In [ ]:
tuple=(10, 20, 5, 15)
mini_no=min(tuple)
print(mini_no)

5

 **14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [ ]:
animals=('dog', 'cat', 'rabbit')
cat_index=animals.index('cat')
print(cat_index)

1

 **15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
fruits=('apple','kiwi','grapes')
is_kiwi_in_tuple='kiwi' in fruits
print(is_kiwi_in_tuple)

True

 **16. Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [ ]:
set={ 'a','b','c'}
print(set)

{'b', 'a', 'c'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
set={1, 2, 3, 4, 5}
set.clear()
print(set)

set()

** 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [ ]:
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

 **19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [ ]:
set1={1,2,3}
set2={3,4,5}
union=set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
set1={1,2,3}
set2={2,3,4}
intersection=set1.intersection(set2)
print(intersection)

{2, 3}

 **21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
dict={'name':'shweta','age':21,'city':'sirsa'}
print(dict)

{'name': 'shweta', 'age': 21, 'city': 'sirsa'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}**

In [ ]:
dict={'name': 'John', 'age': 25}
dict['country']='USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
dict={'name': 'Alice', 'age':30}
name_value=dict['name']
print(name_value)

Alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [ ]:
dict= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

 **25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list=[4,"shweta","kamboj",4.5]
tuple=('apple',20,'blue')
dict={'name': 'Alice', 'city': 'Paris'}
print(list)
print(tuple)
print(dict)

[4, 'shweta', 'kamboj', 4.5]
('apple', 20, 'blue')
{'name': 'Alice', 'city': 'Paris'}

 **27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [ ]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted List:", random_numbers)

Sorted List: [2, 3, 3, 8, 24]

**28. Write a code to create a list with strings and print the element at the third index.**

In [ ]:
list=["red","blue","black","pink","white"]
print(list[3])

pink

 **29. Write a code to combine two dictionaries into one and print the result**

In [ ]:
dict1={"name":"shweta","class":"data science"}
dict2={"city":"gurugram","year":2}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'shweta', 'class': 'data science', 'city': 'gurugram', 'year': 2}

 **30. Write a code to convert a list of strings into a set**

In [ ]:
string_list=["manjot","taniya","priya","diya"]ss
string_set = set(string_list)
print(string_set)

{'priya', 'diya', 'manjot', 'taniya'}